# .gitignore by jackon.me

*.py[cod]

#vim
*.swp
.ropeproject/

# SVN
.svn

# C extensions
*.so

# Installer logs
pip-log.txt
*.egg-info/
dist/

# Unit test / coverage reports
.coverage
.tox
nosetests.xml
.cache/

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

.DS_Store
